.lb-uppercase{
    text-transform: uppercase;
}
.img-about{
    height: 200px;
}
.desc{
    font-size: 15px;
    text-align: center;
}
.about{
    padding-top: 30px;
}
.responsive-img{
    max-height: 200px !important;
}
.card-reveal{
    color: #ffffff;
    background-color: rgba(0,0,0,0.7) !important;
}
div.card-reveal span.card-title{
    color: #ffffff !important;
}
.tabs{
    background-color: transparent;
}
input[type=search]:focus{
    border-bottom: 1px solid #ee6e73 !important;
    box-shadow: 0 1px 0 0 #ee6e73 !important;
}
.img-gallery{
    object-fit: cover;
    object-position: center;
    height: 400px;
}