<div class="about">
    <div class="row">

        <div class="col l4">
            <div class="col s12 center-align">
                <img src="images/agrii.png" alt="image" class="responsive-img">
            </div>
            <div class="col s12">
                <h2 class="desc">Kami mempunyai berbagai macam bunga</h2>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="col s12 center-align">
                <img src="images/worldwide.png"  alt="image"  class="responsive-img">
            </div>
            <div class="col s12">
                <h2 class="desc">Dengan bertanam sama saja membantu bumi lebih sehat </h2>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="col s12 center-align">
                <img src="images/tree.png" alt="image"  class="responsive-img">
            </div>
            <div class="col s12">
                <h2 class="desc">Tanaman dan bunga kami sangatlah kuat dan tahan lama</h2>
            </div>
        </div>
  
    </div>
</div>