<div class="container">
    <div class="row">
        <div class="col l12 s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/agrii.png">
              <span class="card-title"></span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">face</i></a>
            </div>
            <div class="card-content">
              <p>Kembangku adalah sebuah wadah untuk budi daya tanaman dan bunga, serta melayani pembelian bunga ataupun tanaman yang unik dan indah.</p>
            </div>
          </div>
        </div>
      </div>
    <!-- Page Content goes here -->
</div>