<div class="row">
    <h3>Gallery</h3>
    <div class="col m4">
         <div class="card hover-reveal sticky-action">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator img-gallery" src="images/plants3.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Kembang Indah <i class="material-icons right">more_vert</i></span>
           </div>
           <div class="card-action">
             <a href="#"></a>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once hover it.</p><p>Lorem ipsu</div>
         </div>
    </div>
    <div class="col m4">
         <div class="card hover-reveal sticky-action">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator img-gallery" src="images/plants4.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Tanaman Hijau <i class="material-icons right">more_vert</i></span>
           </div>
           <div class="card-action">
             <a href="#"></a>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once hover it.</p><p>Lorem ipsu</div>
         </div>
    </div>
    <div class="col m4">
         <div class="card hover-reveal sticky-action">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator img-gallery" src="images/plants7.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Tanaman Gantung <i class="material-icons right">more_vert</i></span>
           </div>
           <div class="card-action">
             <a href="#"></a>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
             <p>Here is some more information about this product that is only revealed once hover it.</p><p>Lorem ipsu</div>
         </div>
    </div>
</div>