<div class="container-abou">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col l2 s6">
                <img src="images/plants3.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col l10 s6">
                <span class="black-text">
                    Bunga matahari, membuat sebuah suasana baru pada kamar dengan warna cerah.
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col l2 s6">
                <img src="images/plants4.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col l10 s6">
                <span class="black-text">
                    Bunga melati, membawa aroma alami yang membuat pikiran menjadi tenang.
                </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content goes here -->
</div>